@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700,800,900');
@import 'font/SimplyRounded.css';
@import 'font/Montserrat.css';

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  margin: 0;
  opacity: 0;
}

#container {
  position: absolute;
  overflow: hidden;
}

html {
  --color-1: #032e34;
  --color-2: #004652;

  --info-color-1: var(--color-1);
  --info-color-2: var(--color-2);

  --runner-1-color-1: var(--color-2);
  --runner-1-color-2: var(--color-1);

  --runner-2-color-1: var(--color-2);
  --runner-2-color-2: var(--color-1);

  --runner-3-color-1: var(--color-2);
  --runner-3-color-2: var(--color-1);

  --runner-4-color-1: var(--color-2);
  --runner-4-color-2: var(--color-1);
}
