@import 'base.css';

#container {
  width: 1280px;
  height: 720px;
}

#container > #background,
#container > #foreground,
#container > #addon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#container > #background {
  z-index: -10;
}

#container > #background > img {
  filter: blur(4px);
}

#container > #background > #background-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  filter: blur(4px);
  background-size: cover;
  background-position: center center;
}

#container > #background > #background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(9, 53, 71, 0.7);
}

#container > #foreground {
  pointer-events: none;
  z-index: 10;
}

#container > #addon {
  pointer-events: none;
  z-index: -11;
}

#container > #main-area {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 53px;
}
