@font-face {
  font-family: 'Simply Rounded';
  src: url('SimplyRounded.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Simply Rounded';
  src: url('SimplyRounded-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Simply Rounded';
  src: url('SimplyRounded-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Simply Rounded';
  src: url('SimplyRounded-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}
